.title {
    font-size: 20px;
    padding: 5px;
}

/* HEADER */
.header-page{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

/* BOTÓN */
.acciones-container{
    position:relative;
}

.acciones-btn{
    display:flex;
    align-items:center;
    gap:6px;
    padding:6px 10px;
    cursor:pointer;
    border-radius:4px;
    transition:background 0.2s;
}

.acciones-btn:hover{
    background:#f0f1f5;
}

/* MENÚ */
.acciones-menu{
    position:absolute;
    top:100%;
    right:0;
    background:white;
    border:1px solid #ddd;
    border-radius:4px;
    box-shadow:0 2px 8px rgba(0,0,0,0.1);
    display:none;
    min-width:180px;
    z-index:10;
}

/* ITEMS */
.acciones-item{
    display:flex;
    align-items:center;
    gap:10px;
    padding:10px;
    cursor:pointer;
    font-size:14px;
}

.acciones-item:hover{
    background:#f5f6fa;
}

/* HOVER abre menú */
.acciones-container:hover .acciones-menu{
    display:block;
}