
#cover-admin-nav{
    width: 260px;
    background: #fff;
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    transition-property: left, width;
    transition-duration: .2s, .2s, .35s;
    transition-timing-function: linear, linear, ease;
    padding: 10px;
}
.sidebar-collapsed #cover-admin-nav{
    left: -260px;
}
#admin-nav{
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background-color: var(--bg-menu-color);
    display: flex;
    flex-direction: column;
}
body#main.sidebar-collapsed #admin-nav{
    left: -300px;
}

#admin-nav .item-logo-admin{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

#admin-nav .item-logo-admin #logo-cliente{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#admin-nav .item-logo-admin #logo-cliente > img{
    height: 100%;
    width: auto;
    max-width: 100%;
    max-height: 100%;
}

#admin-nav .logo-app-menu{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}
#admin-nav .logo-app-menu > img{
    height: 100%;
    width: auto;
    max-width: 100%;
    max-height: 100%;
}


#list-menuadmin{
    width: 100%;
    height: 100%;
    padding: 15px 10px;
    overflow-y: auto;
    overflow-x: hidden;
    list-style: none;
    position: relative;
}

#admin-nav #img-menu{
    position: absolute;
    bottom: 0;
    right: 0;
    height: 260px
}
#list-menuadmin li{
    position: relative;
}
#list-menuadmin li a{
    margin: 0;
    /* margin-bottom: 3px; */
    border-radius: 4px;
    color: #fff;
    text-decoration: none;
    position: relative;
    text-transform: capitalize;
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
    min-height: 40px;
    line-height: 1.625rem; 
    display: flex;
    align-items: center;
    justify-content: flex-start;
    
}
#list-menuadmin li a.active,
#list-menuadmin li a:hover{
    background-color: var(--e-global-color-primary) !important;
    box-shadow: none !important;
    color: #f5f5f5 !important; 
}
#list-menuadmin li a > i{
    font-size: 1rem;
    margin: 0 5px;
}

#list-menuadmin .dx-accordion {
    margin: 0 0 3px 0;
}
#list-menuadmin .dx-accordion-item{
    box-shadow: none;
}
#list-menuadmin .dx-accordion-item-title {
    border-radius: 4px;
}
#list-menuadmin .dx-accordion.active  .dx-accordion-item-title,
#list-menuadmin .dx-accordion-item-title:hover {
    background-color: #89c1ee;
}
#list-menuadmin .dx-accordion-item-title:hover,
#list-menuadmin .dx-accordion-item-title.active .dx-accordion-item-title,
#list-menuadmin .dx-accordion-item-title:hover .dx-accordion-item-title-caption,
#list-menuadmin .dx-accordion.active  .dx-accordion-item-title,
#list-menuadmin .dx-accordion.active .dx-accordion-item-title .dx-accordion-item-title-caption {
   color: #fff;
}
#list-menuadmin .dx-accordion-item-title-caption{
    text-transform: uppercase;
    cursor: pointer;
    font-size: .8rem;
    color: #444;
    font-weight: lighter;

}

#list-menuadmin .dx-accordion-item-body ul{
    list-style: none;
    padding: 0;
}

/* Contenedor */
.menu-group {
    display: flex;
    flex-direction: column;
}

/* Título clickable */
.menu-title {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    padding: 10px;
    cursor: pointer;
    color: white !important;
}

.menu-title i {
    margin: 0 5px;
}

/* Flecha */
.arrow {
    transition: transform 0.3s ease;
}

.arrow.open {
    transform: rotate(180deg);
}

/* Submenu */
.submenu {
    list-style: none;
    padding-left: 20px;
    display: none;
    flex-direction: column;
    gap: 5px;
}

.submenu.open {
    display: flex;
}

/* Links */
.submenu a {
    text-decoration: none;
    font-size: 14px;
}

/* ESTILOS DISEÑO TABLA */
.dx-datagrid-filter-panel .dx-icon-filter{
    color: var(--bg-menu-color);
}
.dx-datagrid-filter-panel .dx-datagrid-filter-panel-text{
    color: var(--bg-menu-color);
}
.dx-pager .dx-page-sizes .dx-selection{
    background-color: var(--bg-menu-color);
}

.dx-pager .dx-pages .dx-selection{
    background-color: var(--bg-menu-color);
}

/* .dx-datagrid-filter-panel .FilterRow{
    color: red;
} */